.team{
  background-color: #fff;
  margin-top: -60px;
}

.team .head{
  text-align: center;
  padding-top: 60px;
  display: block;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to bottom right, rgb(7, 109, 168), rgb(110, 193, 248), rgb(6, 113, 175));
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.team .head .head1{
  color: rgb(240, 239, 239);
  font-weight: lighter;
}

.team .team_cont {
  text-align: center;
  margin-top: -230px;
  /* padding-bottom: 200px; */
}

.team .category {
  /* background-color: rgb(0, 0, 0, .2); */
  padding: 8px 6px;
  font-size: 2em;
  color: #fff;
  /* margin: 0 0 20px; */
  z-index: 2;
  margin: 50px auto 10px;
  width: 130px;
  display: block;
}

.team .box {
  display: block;
  padding: 0 auto;
}

.team .grid {
  display: inline-block;
  /* position: relative; */
  /* z-index: 2; */
	/* padding: 1em 0 4em; */
  max-width: 320px;
  margin: 10px auto;
	list-style: none;
	/* text-align: center; */
}

.team .grid2 {
  display: block;
  width: 100%;
  height: 100%;
}

.team .category2 {
  background-color: rgb(0, 0, 0, 0);
  padding: 5px 6px;
  font-size: 2em;
  color: rgb(83, 83, 83);
  /* margin: 0 0 20px; */
  z-index: 2;
  margin: 50px auto 10px;
  width: 200px;
  display: block;
}

/* Common style */
.team .grid figure {
	position: relative;
	/* float: left; */
	overflow: hidden;
	margin: 0px 10px;
	/* min-width: 320px; */
	/* max-width: 320px; */
	max-height: 360px;
	/* width: 48%; */
	max-width: 300px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.team .grid figure img {
	position: relative;
	display: block;
	/* min-height: 100%; */
	max-width: 100%;
	opacity: 0.8;
}

.team .grid figure figcaption {
	padding: 2em;
	color: #fff !important;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.team .grid figure figcaption::before,
.team .grid figure figcaption::after {
	pointer-events: none;
}

.team .grid figure figcaption,
.team .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.team .grid figure figcaption > a {
	z-index: 10;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.team .grid figure h2 {
	word-spacing: -0.15em;
	font-weight: lighter;
}

.team .grid figure h2 span {
	font-weight: 800;
}

.team .grid figure .smHead {
	font-size: .8em;
}

.team .grid figure h2,
.team .grid figure p {
	margin: 0;
}

.team .grid figure p {
	letter-spacing: 1px;
	font-size: 78.5%;
}





.team figure.effect-layla {
    background: #18a367;
  }
  
  .team figure.effect-layla img {
    height: 400px;
  }
  
  .team  figure.effect-layla figcaption {
    padding: 3em;
  }
  
  .team  figure.effect-layla figcaption::before,
  .team  figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
  }
  
  .team  figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .team figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .team figure.effect-layla h2 {
    padding-top: 10%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
  }
  
  .team figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
  }
  
  .team figure.effect-layla img {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
  }

  .team figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,150px,0);
    background-color: rgb(0, 0, 0, .3);
  }
  
  .team figure.effect-layla img,
  .team figure.effect-layla figcaption::before,
  .team figure.effect-layla figcaption::after,
  .team figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
  }
  
  .team figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .team figure.effect-layla:hover figcaption::before,
  .team figure.effect-layla:hover figcaption::after {
    opacity: 1;
    background-color: rgb(0, 0, 0, .15);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .team figure.effect-layla:hover h2,
  .team figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .team figure.effect-layla:hover figcaption::after,
  .team figure.effect-layla:hover h2,
  .team figure.effect-layla:hover p,
  .team figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  

