.card-header {
    padding: 0 !important;
    /* width: 150px; */
    box-shadow: none !important;
    background-color: white;
 }

.btn {
    display: inline-block;
    font-weight: 400;
    padding: .4rem .9rem;
    font-size: 1rem;
    border-radius: .25rem;
}
 
.announce_submit {
    float: right;
    font-weight: bold;
    font-size: 0.9em;
}

.announce_submit:hover, .announce_submit:active {
    float: right;
    font-weight: bold;
    background-color: white !important;
    color: rgb(26, 131, 180);
    font-size: 0.9em;
    border: 3px solid rgb(26, 131, 180);
    box-shadow: none;

}

.accordion .mesg {
    color: rgb(21, 99, 172);
    
}

 .change_icon .plus {
    display: block;
    -webkit-transform: rotate(-45deg) ;
    transform: rotate(-45deg);
  }

.announce {
    margin-bottom: 0;
}

.announce_form_modal .modal-footer {
    padding: 0 !important;
}

.announce_form_modal .fa {
    margin:0 10px;
    font-size: 1.2em;
}

.announce_form_modal .modal-body {
    font-weight: 500;
    font-size: 1.1em;
}

.time1 {
    color: gray;
}
.time2 {
    margin-top: -20px;
    color: gray;
    float: right;
}

.announce h4 {
    font-size: 1.15em !important;
}

.announce .card-text {
    font-size: 1em !important;
}

.by {
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(60, 160, 190);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message {
    display: block;
    margin-top: 5px;
    color: rgb(59, 58, 58);
}

.announce_form_head h4{
    font-size: 1.3em !important;
    text-align: center;
    font-weight: bold;
}

.announce_form1 h3 {
    font-size: 1.4em;
    margin-bottom: 30px;
}
.announce_form .card-body {
    padding: 0 !important;
}


@media screen and (max-width: 600px) {
    .margin0 {
      padding: 0 !important;
    }
    .announce_form1 .card-body {
        padding: 0.5em !important;
        /* margin: 0.1em !important; */
    }    
    .announce_form1 {
        padding: 0 !important;
        margin: 0 !important;
    }
       
  }